In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_dir = '../../data/주어진데이터/카드메출데이터'
descrip = os.path.join(data_dir, '2019빅콘테스트_신한카드소비데이터_레이아웃_최종_190711.xlsx')
data = os.path.join(data_dir, 'CARD_SPENDING\CARD_SPENDING.txt')

### Excel file 설명 (업종, 성별나이 참고)

In [3]:
# data 설명
print(pd.read_excel(descrip, header=3, nrows=8, sheet_name='카드소비'))

   No.        컬럼ID    컬럼명          타입 NULL  KEY  DEFAULT          비고
0    1      STD_DD   기준일자  VARCHAR(8)    N    Y      NaN         NaN
1    2       GU_CD    구코드  VARCHAR(2)    N    Y      NaN         NaN
2    3     DONG_CD  행정동코드  VARCHAR(3)    N    Y      NaN         NaN
3    4  MCT_CAT_CD   업종코드  VARCHAR(2)    N    Y      NaN         NaN
4    5      SEX_CD   성별코드  VARCHAR(1)    N    Y      NaN  M:남자, F:여자
5    6      AGE_CD   나이코드  VARCHAR(2)    N    Y      NaN       5세 단위
6    7     USE_CNT   이용건수     NUMBER     N  NaN      NaN        단위:건
7    8     USE_AMT   이용금액     NUMBER     N  NaN      NaN       단위:천원

In [4]:
df_gu_dong = pd.read_excel(descrip, header=1, nrows=37, usecols=[1,2,3,4], sheet_name='(참고) 행정동코드')
new_col = {'구명':'구','행정동명':'동'}
df_gu_dong = df_gu_dong.rename(columns=new_col)

In [5]:
df_gu_dong.head()

   구코드  행정동코드    구      동
0  110    515  종로구  청운효자동
1  110    530  종로구    사직동
2  110    540  종로구    삼청동
3  110    550  종로구    부암동
4  110    560  종로구    평창동

In [6]:
# TODO
# 업종코드 table

### 데이터 분석

In [7]:
df = pd.read_csv(data, sep='\t')
new_col = {'STD_DD':'날짜', 'GU_CD':'구코드','DONG_CD':'행정동코드','MCT_CAT_CD':'업종코드',
           'SEX_CD':'성별코드','AGE_CD':'나이코드','USE_CNT':'이용건수','USE_AMT':'이용금액'}
df = df.rename(columns=new_col)
df['날짜'] = pd.to_datetime(df['날짜'], format='%Y%m%d')

In [8]:
df.head()

          날짜  구코드  행정동코드  업종코드 성별코드  나이코드  이용건수  이용금액
0 2018-04-01  110    515    21    F    55     4    22
1 2018-04-01  110    515    21    M    20    35   184
2 2018-04-01  110    515    21    M    25    70   425
3 2018-04-01  110    515    21    M    30    18    82
4 2018-04-01  110    515    21    M    35     4    44

In [9]:
df = pd.merge(df, df_gu_dong)
del df['구코드']
del df['행정동코드']

In [10]:
df.head()

          날짜  업종코드 성별코드  나이코드  이용건수  이용금액    구      동
0 2018-04-01    21    F    55     4    22  종로구  청운효자동
1 2018-04-01    21    M    20    35   184  종로구  청운효자동
2 2018-04-01    21    M    25    70   425  종로구  청운효자동
3 2018-04-01    21    M    30    18    82  종로구  청운효자동
4 2018-04-01    21    M    35     4    44  종로구  청운효자동

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1998575 entries, 0 to 1998574
Data columns (total 8 columns):
날짜      datetime64[ns]
업종코드    int64
성별코드    object
나이코드    int64
이용건수    int64
이용금액    int64
구       object
동       object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 137.2+ MB

In [13]:
df.to_csv('../../data/가공데이터/카드매출데이터.csv', index=None)